# dependencies
node_modules/
.DS_Store
.env

# production
build/
dist/

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React specific
.eslintcache
public/*.html

# testing
coverage/

# Vercel specific
.vercel/
